.activities {
    padding: 60px 0;
    &--primary {
        background: linear-gradient(rgba($color-primary, .85), rgba($color-primary, .85)),
        url(../images/page-pattern.jpg) no-repeat center center;
    background-size: cover;
    }
    &--secondary {
        background: linear-gradient(rgba($color-secondary, .85), rgba($color-secondary, .85)),
                url(../images/page-pattern.jpg) no-repeat center center;
        background-size: cover;
    }
    &--tertiary {
        background: linear-gradient(rgba($color-tertiary, .85), rgba($color-tertiary, .85)),
                url(../images/page-pattern.jpg) no-repeat center center;
        background-size: cover;
    }
}