/* Global */
.ak-btn {
    border: 0;
    font-size: 3rem;
    color: #FFF;
    padding: 1rem 5rem;
    border-radius: 10rem;
    font-family: $font-secondary;
    outline: none;
    transform: translateY(-.5rem);
    transition: all .15s ease;
    display: inline-block;
    &:focus {
        outline: none;
        transform: translate(0,0);
    }
    &:hover {
        transform: translateY(-.3rem);
    }
}
/* Global */

/* Btn Primary */
.ak-btn-primary {
    background: $color-primary;
    border-bottom: 5px solid $color-primary-dark-soft;
    @include respond(phone-between-large-Desktop) {
        font-size: 1.8rem;
    }
}
/* Btn Secondary */
.ak-btn-secondary {
    background: $color-secondary;
    border-bottom: 5px solid $color-secondary-dark-1
}
/* Btn Tertiary */
.ak-btn-tertiary {
    background: $color-tertiary;
    border-bottom: 5px solid $color-tertiary-dark
}

/* Create Workshop */
.dashboard,.shop-header,.filter {
    .ak-btn {
        font-size: 1.6rem;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        font-family: $font-primary;
        font-size: 1.5rem;
        margin-right: .6rem;
    }
    .ak-btn-cw,
    .ak-btn-evaluate,
    .ak-btn-bth, 
    .ak-btn-filter {
        background: $color-primary;
        i {
            font-size: 1.4rem;
            margin-right: .6rem;
        }
    }
}

// Load more 
.load-more {
    text-align: center;
    margin: 2.5rem 0;
    &-btn {
        width: 22rem;
        padding: 1rem 0rem;
        background: $color-grey-light-1;
        border: 3px dashed #bfbfbf;
        font-size: 2rem;
        color: $color-grey-dark-4;
        &:focus {outline: none}
    }
}