// Active Status
.game-active {background: $color-tertiary;color: $color-white;}
.game-active .header__link--game {color: $color-white;}
.game-active .header__icon--game {color: $color-white;}
// Active Status

