// Active Status
.video-active {background: $color-secondary;color: $color-white;}
.video-active .header__link--video {color: $color-white;}
.video-active .header__icon--video {color: $color-white;}
// Active Status

